body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.polymorph {
    fill: #5585E5;
}

#cta, #cta2 {
    position: absolute;
    margin: 10em auto 0 auto;
    left: 0;
    right: 0;
    width: 10%;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    outline: 0;

}
p{
    font-size: 1.2em;

}
#cta2{
    width: auto;
    margin: 10px auto;
    background: #5585E5;

}

#blip{
    position: absolute;
    color: #5585E5;
    right: 30%;
    top: 0;
    opacity: 0;
    width: 250px;
    transform: translateY(-800px);
}