body{
  margin:0;
  overflow:hidden;
}

/* Style the video: 100% width and height to cover the entire window */
#video1 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto; 
  height: 100vh;
    filter:opacity(100%);
  }
  #video2 {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }